<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Checkerboard</title>
</head>
<body>
    <h1>**Checkerboard**</h1>
    <table id="wrapper">
    {% for i in range(num1): %}
        <tr>
            {% for j in range(num2): %}
                {% if (i%2 == 0 and j%2 == 0) or (i%2 != 0 and j%2 != 0) %}
                    <td class="color1" style="background-color: {{color1}}"></td>
                {% else %}
                    <td class="color2" style="background-color: {{color2}}"></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>

<!-- Second time solution

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
<h1 class="text-center mt-5 mb-5">Welcome!</h1>
<div class="container d-flex justify-content-center">
    <table>
        {% for x in range (num1)  %}
            <tr>
            {% for y in range (num2)  %}
                <td style="background-color: {{color1}}"></td>
                <td style="background-color: {{color2}}"></td>
            {% endfor %}
            </tr>
            <tr>
            {% for y in range (num2)  %}
                <td style="background-color: {{color2}}"></td>
                <td style="background-color: {{color1}}"></td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html> -->
